.row{id:'home-top-cont'}
	.col-md-12.overlay-home
		.row
			.col-md-10.col-md-offset-1
				.margin-bottom-20
				.panel
					.panel-heading
						.text-center
							%h2
								Help Others Find Great Dishes				
					.panel-body
						%form.form-inline.text-center
							.form-group
								%input.form-control{type:"text", placeholder:'Name of Dish'}
							.form-group
								%input.form-control{type:"text", placeholder:'Available at (Restaurant name,city'}
							.form-group
								%input.form-control{type:"text", placeholder:'Description'}
.row
	.margin-bottom-20
	.col-md-3.col-md-offset-1
		.panel.panel-default
			.panel-heading
				%strong Welcome Alok
			.panel-body
				%p
					Current Status: Ninja Recruit
	.col-md-7
		.panel.panel-default
			.panel-heading.text-center
				%strong
					Find Specific dish from our database
			.panel-body
				%form.form-horizontal
					.form-group
						%label.col-md-6.control-label
							Find Great dishes at an outlet
						.col-md-6
							%input.form-control{type:'text'}
					.form-group
						%label.col-md-6.control-label
							Find Best outlet to have a dish
						.col-md-6
							%input.form-control{type:'text'}
					.form-group
						.col-md-3.col-md-offset-6
							%input.btn.btn-default.form-control{type:'submit'}
								
.row	
	.col-md-3.col-md-offset-1
	.col-md-7
		.row
			.col-md-4
				.thumbnails.thumbnail-style
					%a.fancybox-button.zoomer{"data-rel" => "fancybox-button", href: "#{image_path('dish1.jpg')}", title: "Project #1"}
						%span.overlay-zoom
							=image_tag('dish1.jpg', class: 'img-responsive')
							.zoom-icon
					.caption
						%h3
							%a.hover-effect{href: "#"} Project One
						%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
			.col-md-4
				.thumbnails.thumbnail-style
					%a.fancybox-button.zoomer{"data-rel" => "fancybox-button", href: "#{image_path('dish2.jpg')}", title: "Project #2"}
						%span.overlay-zoom
							=image_tag('dish2.jpg', class: 'img-responsive')
							.zoom-icon
					.caption
						%h3
							%a.hover-effect{href: "#"} Project Two
						%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
			.col-md-4
				.thumbnails.thumbnail-style
					%a.fancybox-button.zoomer{"data-rel" => "fancybox-button", href: "#{image_path('dish3.jpg')}", title: "Project #2"}
						%span.overlay-zoom
							=image_tag('dish3.jpg', class: 'img-responsive')
							.zoom-icon
					.caption
						%h3
							%a.hover-effect{href: "#"} Project Two
						%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
:javascript
	jQuery(document).ready(function() {
		App.init();
		App.initFancybox();        
	});