.row{id: 'landing-page-cont'}
	.col-md-12.overlay-landing
		.row{id:'landing-content-cont'}
			.col-md-10.col-md-offset-1
				%h1
					Choose your city,
				.margin-bottom-40
				
				.row
					.col-md-2
					.col-md-2
						%button.btn.btn-lg.btn-default.city-btn-landing
							Mumbai
					.col-md-2
						%button.btn.btn-lg.btn-default.city-btn-landing
							Delhi
					.col-md-2
						%button.btn.btn-lg.btn-default.city-btn-landing
							Bangalore
					.col-md-2
						%button.btn.btn-lg.btn-default.city-btn-landing
							Pune
				.margin-bottom-40

				.row
					.col-md-2
					.col-md-2
						%button.btn.btn-lg.btn-default.city-btn-landing
							Chandigarh
					.col-md-2
						%button.btn.btn-lg.btn-default.city-btn-landing
							Hyderabad
					.col-md-2
						%button.btn.btn-lg.btn-default.city-btn-landing
							Chennai
					.col-md-2
						%button.btn.btn-lg.btn-default.city-btn-landing
							Jaipur

				.margin-bottom-40
				.row
					.col-md-3.col-md-offset-2
						%h4
							Or,
				
				.row
					.col-md-3.col-md-offset-2
						%input{type:"text", placeholder:'Enter your city'}	
				.margin-bottom-20
				
				.row
					.col-md-3.col-md-offset-2
						%btn.btn-default.btn-sm
							Submit				

					

