#create-link-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content{id: 'create-link-modal-dialog'}
      .modal-body
        %button.close.font-white{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          .font-white
            %strong x
        %h3.modal-title.font-white
          %strong Submit a link
        .row
          .col-md-12
            %p.font-white
              Enter the link of an article, image or video
           
:javascript
  $(function() {
    $(' #post_tags_list').select2({tags:[],tokenSeparators: [",", " "]})
  });

          