#home-pg-main-cnt
	.row{id:'home-top-cont'}
		.col-md-12.overlay-home
			.row
				.col-md-10.col-md-offset-1
					.margin-bottom-20
					.panel
						.panel-heading
							.text-center
								%h2
									Find great dishes				
						.panel-body
							.row
								=form_tag search_path, class: 'form-horizontal' do 
									.form-group
										%label.col-md-4.control-label
											Find Great dishes at an outlet
										.col-md-6
											=text_field :query, '', class: 'form-control'
									.form-group
										.col-md-4.col-md-offset-4
											=submit_tag 'Search', class: 'btn btn-default form-control'

	.row
		.margin-bottom-20
		.col-md-3.col-md-offset-1
			.panel.panel-default
				.panel-heading
					%strong Welcome Alok
				.panel-body
					%p
						Current Status: Ninja Recruit
	
		.col-md-7
			.row
				.col-md-4
					.thumbnails.thumbnail-style
						%a.fancybox-button.zoomer{"data-rel" => "fancybox-button", href: "#{image_path('dish1.jpg')}", title: "Project #1"}
							%span.overlay-zoom
								=image_tag('dish1.jpg', class: 'img-responsive')
								.zoom-icon
						.caption
							%h3
								%a.hover-effect{href: "#"} Project One
							%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
				.col-md-4
					.thumbnails.thumbnail-style
						%a.fancybox-button.zoomer{"data-rel" => "fancybox-button", href: "#{image_path('dish2.jpg')}", title: "Project #2"}
							%span.overlay-zoom
								=image_tag('dish2.jpg', class: 'img-responsive')
								.zoom-icon
						.caption
							%h3
								%a.hover-effect{href: "#"} Project Two
							%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
				.col-md-4
					.thumbnails.thumbnail-style
						%a.fancybox-button.zoomer{"data-rel" => "fancybox-button", href: "#{image_path('dish3.jpg')}", title: "Project #2"}
							%span.overlay-zoom
								=image_tag('dish3.jpg', class: 'img-responsive')
								.zoom-icon
						.caption
							%h3
								%a.hover-effect{href: "#"} Project Two
							%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
=form_tag search_path do 
	=label_tag :query
	=text_field_tag :query

-@foods.each do |f|
	=f.name
.row
	.col-md-6.col-md-offset-3
		=form_tag add_food_path do
			=label_tag 'Outlet'
			=autocomplete_field_tag 'outlet', '', autocomplete_outlet_name_foods_path, :size => 75
			

:javascript
	jQuery(document).ready(function() {
		App.init();
		App.initFancybox();        
	});
